Project Title – Traffic Accidents in Great Britain

Project Plan – I will use data that contains information on traffic accidents in Great Britain. The data were collected from 2005-2014.  It contains accidents from every crash that was reported to the police on public roads.  The data come from a form that is filled out by the police for each accident and sent to the Department of Transportation.  The goal for the project is to explore all of the variables and find the ones that are the most relevant for predicting whether or not there were any casualties.  I will also compare several different methods of classification.

Model Evaluation – I will use logistic regression, k nearest neighbors, decision trees, naive bayes, and support vector machine.  I will use ROC/AUC to evaluate the model's performance.

Data Sources – I found the data at data.gov.uk under road safety data from the Department of Transportation.  There are over 40 variables that are grouped into three different datasets: accident circumstances, vehicle, and casualty.  The accident circumstances dataset includes 35 variables.  Some of them are weather conditions, light conditions, number of vehicles, pedestrian crossing, date, time, and road surface conditions.  The vehicle dataset has over 20 variables including age of vehicle, vehicle type, vehicle maneuver, and skidding and overturning.  The casualty dataset includes variables from the previous two datasets along with age of casualty, sex of casualty, car passenger, bus passenger, and severity.  The three data sets are linked by the variable accident index. The vehicles and casualties datasets are also linked by vehicle reference.

In [1]:
import pandas as pd
accidents = pd.read_csv('/Users/Evatar/Dropbox/Evan/ClassesUofI/STAT504Analytics/Project/accidents.csv', low_memory=False)
accidents.head()

,﻿Accident_Index,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,1st_Road_Class,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area
0,200501BS00002,3,1,1,4,4,3,30,6,2,5,4,1,1,0,0,1
1,200501BS00007,3,2,1,5,5,6,30,3,4,6,4,1,1,0,0,1
2,200501BS00010,3,2,2,7,3,6,30,6,2,4,4,1,1,0,0,1
3,200501BS00011,3,2,5,7,4,6,30,3,4,5,1,1,1,0,0,1
4,200501BS00012,3,1,1,1,3,6,30,6,2,4,4,1,1,0,0,1

In [2]:
casveh = pd.read_csv('/Users/Evatar/Dropbox/Evan/ClassesUofI/STAT504Analytics/Project/casualtiesVehicles.csv', low_memory=False)
casveh.head()

,﻿Accident_Index,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,...,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00003,11,0,17,0,0,0,4,0,0,...,1,1,62,3,0,0,0,0,9,1
1,200501BS00003,9,0,2,0,0,0,0,0,0,...,1,1,62,3,0,0,0,0,9,1
2,200501BS00004,9,0,18,0,0,0,0,0,0,...,3,1,30,3,5,2,0,0,0,1
3,200501BS00006,9,0,5,0,0,0,0,0,0,...,1,2,30,3,0,0,0,0,3,1
4,200501BS00006,3,0,18,0,0,0,0,0,0,...,1,2,30,3,0,0,0,0,3,1